AddDefaultCharset utf-8
RewriteEngine on
# Чтобы исключить возможность пользователя попадать в любую папку нашего проекта включаем перенаправление
# Все запросы перенаправляем в папку public и передаем через переменную $1 все, что приходит
RewriteRule (.*) public/$1